
@media only screen and (min-width:760px){
    .produto_item{
        max-width: 150px;
        height: 180px;
    }
}

@media only screen and (max-width:761px) {

    .produto_item{
        max-width: 90px;
        height: 150px;
    }

    .produto_item h4{
        font-size: 12pt;
    }

}


.produtos{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    margin-bottom: 100px;
}

.produtos a{
    text-decoration: none;
}

.produto_item{
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 5px;
    flex-grow: 1;
    flex-basis: 1;
    text-align: center;
    border: 1px solid #707070;
    border-radius: 10px;
}

.produto_item:hover{
    cursor: pointer;
    border: 2px solid #000000;
}
.produto_item:hover img{
    transform: scale(1.2);
}

.produtos img{
    max-width: 70%;
    height: 70%;
    border-radius: 15px;
    transition: all 0.5s;
}